.category-bar{

  display:flex;

  justify-content:center;

  gap:50px;

  padding:18px;

  background:#EFE6DD;

}


.category-bar span{

  cursor:pointer;

  font-size:18px;

  transition:0.3s;

}


.category-bar span:hover{

  color:#8B5E3C;

}