.hero{
  margin:40px;

  background:#DCC7B7;

  border-radius:30px;

  height:550px;

  display:flex;
  justify-content:center;
  align-items:center;
}

.hero-content{
  text-align:center;
}

.hero-content h1{
  font-size:72px;
  color:#9B673F;

  margin-bottom:20px;
}

.hero-content p{
  font-size:22px;

  margin-bottom:30px;
}

.hero-content button{
  background:#9B673F;
  color:white;

  border:none;

  padding:18px 40px;

  border-radius:14px;

  font-size:20px;

  cursor:pointer;
}