.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:18px 40px;

  background:#EFE6DD;
}

.logo{
  font-size:32px;
  font-weight:bold;
  color:#8B5E3C;
}

.search-bar{
  width:40%;
  padding:12px;

  border:none;
  border-radius:8px;
}

.nav-icons{
  display:flex;
  gap:12px;
}

.nav-icons button{
  padding:10px 16px;

  border:none;
  border-radius:8px;

  background:#D4A373;
  color:white;

  cursor:pointer;
}

.cart-btn{
  text-decoration:none;
  background:#D4A373;
  color:white;

  padding:10px 16px;

  border-radius:8px;

  display:flex;
  align-items:center;
  justify-content:center;
}