.cart-container{

  max-width:1100px;

  margin:auto;

  padding:50px 30px;
}

.cart-container h1{

  color:#8B5E3C;

  margin-bottom:40px;
}

.cart-card{

  display:flex;

  gap:30px;

  background:white;

  border-radius:20px;

  padding:20px;

  margin-bottom:25px;

  box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.cart-card img{

  width:180px;

  height:180px;

  object-fit:cover;

  border-radius:18px;
}

.cart-info{

  flex:1;
}

.cart-info h2{

  color:#8B5E3C;

  margin-bottom:10px;
}

.cart-info p{

  color:#666;

  margin-bottom:20px;
}

.cart-info h3{

  font-size:28px;

  color:#222;
}

.summary{

  margin-top:50px;

  text-align:right;
}

.summary h2{

  margin-bottom:20px;
}

.summary button{

  background:#8B5E3C;

  color:white;

  border:none;

  padding:16px 30px;

  border-radius:40px;

  cursor:pointer;

  font-size:17px;
}

.quantity-box{

display:flex;

gap:18px;

align-items:center;

margin-top:18px;

}

.quantity-box button{

width:35px;

height:35px;

border:none;

border-radius:50%;

background:#8B5E3C;

color:white;

font-size:20px;

cursor:pointer;

}

.remove-btn{

margin-top:18px;

background:none;

border:none;

color:#B44;

cursor:pointer;

font-size:16px;

}