.success-container{
  min-height:80vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.success-card{
  background:white;
  padding:60px;
  border-radius:25px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.tick{
  width:90px;
  height:90px;
  border-radius:50%;
  background:#4CAF50;
  color:white;
  font-size:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto;
  margin-bottom:30px;
}

.success-card h1{
  color:#8B5E3C;
}

.success-card p{
  color:#666;
  margin:20px 0;
}

.success-card button{
  border:none;
  padding:16px 32px;
  border-radius:35px;
  background:#8B5E3C;
  color:white;
  cursor:pointer;
}